@import "sass/mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
}

.row::before,
.row::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    color: #fff;
    font-size: 60px;
    margin: 0 0 20px;
    font-weight: 300;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    padding-left: 15px;
    padding-right: 15px;
}

h3 {
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
}

h4 {
    color: #67676d;
    font-size: 13px;
    font-weight: 600;
    margin: 0 0 14px 14px;
}

p {
    color: #959595;
    margin: 0 0 30px;
    line-height: 1.75;
    padding: 0 15px;
}

header {
    background-image: url("https://images.pexels.com/photos/547116/pexels-photo-547116.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 100vh;
    padding: 50px;

    .logo {
        font-family: 'Merriweather', serif;
        font-size: 21px;
        font-style: italic;
        font-weight: 900;
        margin-left: 70px;
        position: relative;

        &:before,
        &:after {
            content: "";
            position: absolute;
            border: 3px solid #fff;
            border-radius: 50%;
        }

        &:before {
            height: 36px;
            width: 36px;
            left: -50px;
            top: -7px;
        }

        &:after {
            height: 10px;
            width: 10px;
            left: -37px;
            top: 6px;
        }
    }

    .header-title {
        margin: 30vh 0;
        padding: 20px;
        position: relative;
        width: 50%;
        z-index: 3;
        margin-top: calc(30vh - 50px);
    }

    .header-description {
        color: #fff;
        font-size: 13px;
        padding: 0;
    }
}

.start-news {
    position: relative;
    color: #959595;
    margin-top: 100px;
    img {
        position: absolute;
        bottom: 200px;
        right: -50px;
        max-height: 100vh;
        z-index: 2;
    }
}



// .intro  h1 {  
//     margin-bottom: 10px;
// } 

// .intro p {
//     font-size: 13px;
//     padding: 10px 15px;
// } 

//gallery

.gallery {
    [class*="box-"] {
        height: 200px;
        padding: 0;
        position: relative;
        transition: .5s;
    }
    .box-1 {
        background-color: #f5989d;
        &:hover {
            background-color: #ce5f65;
        }
    }
    .box-2 {
        background-color: #615f7d;
        &:hover {
            background-color: #484667
        }
    }
    .box-3 {
        background-image: url('../images/clients.jpg');
        background-size: cover;
        background-position: center;
    }
    .box-4 {
        background-color: #bd8cbf;
        &:hover {
            background-color: #9c5d9e;
        }
    }
    .box-5 {
        background-image: url("..images/check.jpg");
        background-size: cover;
        background-position: center;
    }
    .box-6 {
        background-color: #82ca9c;
        &:hover {
            background-color: #57ae77;
        }
    }
    .box-7 {
        background-image: url('../images/sign-6.jpg');
        background-size: cover;
        background-position: center;
    }
    button {
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 20px;
        right: 50px;
    }
}

.pixel-image {
    position: relative;
    height: 90vh;
    background-image: url("../images/car.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 150px;
    color: #fff;
    
    .pixel-title {
        h1 {
            color: white;
            font-size: 60px;
            max-width: 540px;
        }
        p {
            padding: 20px 15px;
        max-width: 480px;
        font-size: 13px;
        }
    }
}
    
// footer

.page-footer {
    background: #192331;
    padding: 125px 0;

    * {
        color: #f6f7fa;
    }

    p {
        font-size: 13px;
        padding-bottom: 40px;
    }

    ul {
        padding: 0;
    }

    li {
        line-height: 24px;
        list-style: none;
        margin-left: 0;
        font-size: 13px;
    }

    a {
        display: block;
        text-decoration: none;
        font-weight: 300;
        font-size: 13px;
        padding-top: 5px;
        padding-bottom: 5px;
       
        &:hover {
            text-decoration: underline;
        }
    }

    form {
        padding-left: 14px;

        input,
        button.btn {
            display: inline;
            font-size: 16px;
        }

        input {
            background: #f6f7fa;
            border: none;
            border-radius: 5px 0 0 5px;
            color: #8297a7;
            float: left;
            padding: 15px;
            width: 80%;
            transition: .5s;
           
        }

        button.btn {
            position: relative;
            border-radius: 0 5px 5px 0;
            padding: 15px 0;
            height: 48px;
            min-width: 70px;
            background: url('../img/check.png') #59a77a;
            border: none;
        }

        .input-paragraph {
            color: #57697f;
            display: inline-block;
            font-size: 12px;
            margin-top: 10px;
            padding: 0;
        }
    }
}


@media (max-width: 767px) {
    @include grid('sm');
}

@media (min-width: 768px) {
    @include grid('md');
}

@media (min-width: 992px) {
    @include grid('lg');
}

@media (min-width: 1200px) {
    @include grid('xl');
}



// a span {
//     font-weight: 300;
//     padding-left: 30px;
// }






/* ************ BOX GRID **************** */
.box-grid  {
    max-width: 1600px;
    margin-left: calc((100% - 1170px) / 2);
    margin-top: 80px;
}

.box {
    position: relative;
    height: 280px;
    padding: 30px;
    color: white;
}

.box p {
    margin: 20px 0;
}

.box.sign p {
    max-width: 450px;
}

.box a {
    position: absolute;
    bottom: 40px;
}

.link:hover {
    color: black;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white;
}

.box .fa {
    position:absolute;
    right: 40px;
    bottom: 40px;
    font-size: 18px;
}

.box .fa-heart {
    display: none;
    color: red;
}

.box .heart:hover .fa-heart-o {
    display: none;
}

.box .heart:hover .fa-heart {
    display: block;
}

.box.design {
    background-color: #f5979c;
}

.box.design:hover {
    background-color: #d3757a;
}

.box.built {
    background-color: #615e7d;
}

.box.built:hover {
    background-color: #393c5b;
}

.box.clients {
    background-color: #091e28;
    background: url('../img/clients.jpg') 0 100%;
    background-size: cover;
}

.box.clients:before {
        content: url('../img/clients-2.jpg');
        width: 0;
        height: 0;
        visibility: hidden;
        display: none;
}

.box.clients:hover {
    background: url('../img/clients-2.jpg') 0 100%;
    background-size: cover;
}

.box.shoot {
    background-color: #bc8cbe;
}

.box.shoot:hover {
    background-color: #9b6a9c;
}

.box.sign {
    background-color: #091e28; 
    background: url('../img/sign-4.jpg') 0 85%;
    background-size: cover;
}

.box.sign:before {
        content: url('../img/sign-2.jpg');
        width: 0;
        height: 0;
        /* visibility: hidden; */
        display: none;
}

.box.sign:hover {
    background: url('../img/sign-2.jpg') 0 70%;
    background-size: cover;
}

.box.perfect {
    background-color: #81c99c;
}

.box.perfect:hover {
    background-color: #59a77a;
}

.box.start {
    background-color: #091e28;
    background: url('../img/starts.jpg') 0 50%;
    background-size: cover;
}

.box.start:before {
        content: url('../img/starts-2.jpg');
        width: 0;
        height: 0;
        visibility: hidden;
        display: none;
}

.box.start:hover {
    background: url('../img/starts-2.jpg') 0 70%;
    background-size: cover;
}

/* ******** FOUR COLUMN ********* */
.fourCol {
    width: 100%;
    position: relative;
    color: #959595;
}
.fourCol .side-rotate-logo {
    top: 45px;
    left: 23px;
}

.fourCol .container {
    color: #959595;
    margin-top: 80px;
    position: relative;
}

.fourCol h3 {
    margin-top: 65px;
    margin-bottom: 25px;
}



/* ********** ONE COLOR ********** */
.oneColor {
    background-color: #81c99b;
    padding-bottom: 140px;
    color: white;
    position: relative;
}

.oneColor .side-rotate-logo {
    top: 174px;
}

.oneColor h1 {
    padding: 125px 0 65px 15px;
}

.oneColor p {
    padding-top: 20px;
}

/* ******* BUYING ********** */
// .buying {
//     background-color: #f6f7fa;
//     padding-top: 100px;
//     padding-bottom: 150px;
// }

// .tile {
//     padding: 45px;
//     min-height: 380px;
//     margin: 0 15px;
//     width: calc(50% - 30px);
//     float: left;
// }
// .tile h2 {
//     padding: 12px 0;
// }

// .tile p {
//     padding: 0 0 24px 0;
//     max-width: 425px;
// }

// .badage {
//     color: white;
//     text-transform: uppercase;
//     font-size: 11px;
//     font-weight: 700;
//     padding: 5px 12px;
//     border-radius: 4px;
//     background-color: #e1e1e1;
//     display: inline;
// }

// .button {
//     color: white;
//     width: 150px;
//     height: 45px;
//     background-color: #81c99b;
//     text-transform: uppercase;
//     font-size: 13px;
//     font-weight: 700;
//     padding: 5px 12px;
//     border-radius: 4px;
//     background-color: #81c99b;
//     border: 0;
//     margin-bottom: 20px;
// }

// .tile .fa {
//     padding-right: 10px;
//     color: #c5c5c5;

// .tile:hover {
//     background-color: white;
//     box-shadow: 0px 0px 20px 20px rgba(128, 128, 128, 0.1);  
// }

// .tile:hover .badage {
//     background-color: #bd8bbf;
// }

// .button:hover {
//     background-color: #59a77a; 
// }
